* {
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  text-align: center;
  font-weight: 900;
  font-size: 4vmin;
}

td {
  width: 50vmin;
  height: 14vmin;
}

.Calendar {
  width: 10vmin;
  margin-left: 5vmin;
  margin-top: 5vmin;
  text-align: center;
}

.Calendar > thead > tr:first-child > td {
  font-family: "Questrial", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.Calendar > thead > tr:last-child > td {
  font-family: "Questrial", sans-serif;
  font-weight: 600;
}

.Calendar > tbody > tr > td > p {
  font-family: "Montserrat", sans-serif;
  height: 12vmin;
  width: 12vmin;
  border-radius: 45px;
  transition-duration: 0.2s;
  line-height: 12vmin;
  display: block;
  text-align: center;
}

.pastDay {
  color: lightgray;
}

.today {
  background-color: #f5d042;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.futureDay {
  background-color: #ffffff;
  cursor: pointer;
}

.futureDay:hover {
  background: #eee;
}

.futureDay.choiceDay,
.today.choiceDay {
  background: #5eab6e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
