* {
    margin : 0;
    padding : 0;
}

.title {
    margin-top: 5vmin;
    margin-bottom: 5vmin;
    text-align: center;
    font-weight: 900;
    font-size: 4vmin;
}

hr {
    background: #dfdfdf;
    height:1px;
    border:0;
}