* {
  padding: 0;
  margin: 0;
}

.title {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  text-align: center;
  font-weight: 900;
  font-size: 4vmin;
}

hr {
  background: #dfdfdf;
  height: 1px;
  border: 0;
}

h1 {
  color: #5eab6e;
  font-family: Noto Sans Hebrew New;
  font-size: 6vmin;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 40vmin;
}

input {
  height: 12vmin;
  margin-right: 2vmin;
}

.inputHabit1 {
  width: 63vmin;
}

.inputDay1 {
  width: 20vmin;
}

.inputHabit2 {
  width: 63vmin;
}

.inputDay2 {
  width: 20vmin;
}

.input1 {
  display: inline-flex;
  margin-bottom: 6vmin;
}

.input2 {
  display: inline-flex;
}

.inputDIV {
  width: 310px;
  height: 115px;
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  margin: 7vmin;
}

.checkBtn {
  position: absolute;
  width: 80vw;
  height: 16vmin;
  border: 0;
  border-radius: 10px;
  background-color: #5eab6e;
  color: white;
  font-size: 3.5vw;
  bottom: 75vmin;
  left: 10%;
  z-index: 99999;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Quantico;
  font-weight: 700;
}
