* {
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  text-align: center;
  font-weight: 900;
  font-size: 4vmin;
}

hr {
  background: #dfdfdf;
  height: 1px;
  border: 0;
}

h1 {
  color: #000;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 7vmin;
  font-weight: 900;
  margin-top: 9vmin;
}

.H1,
.H2 {
  width: 80vmin;
  height: 70vmin;
  border: solid 1px #5eab6e;
  border-radius: 10vmin;
  margin: 10vmin;
  margin-top: 12vmin;
}

button {
  width: 68vmin;
  height: 15vmin;
  margin-left: 6vmin;
  margin-top: 13vmin;
  border-radius: 5vmin;
  background-color: #5eab6e;
  border: 0;
  color: white;
  text-align: center;
  font-family: Noto Sans KR;
  font-size: 5vmin;
  font-weight: 300;
}

/* 추가된 내비게이션 바 스타일 */
.bottom-nav {
  position: absolute;
  width: 80vw;
  height: 12vmin;
  border: 0;
  border-radius: 6px;
  color: white;
  font-size: 11vw;
  bottom: 5vmin;
  left: 13vmin;
  word-spacing: 25vmin;
  z-index: 99999;
}
